#标注git忽略的文件，添加后不会监视这些文件，不会提交至远程仓库
.setting/
.svn/
.svn
.git/
.gitigonre
.project
*.class
logs/
*/target/
*/.settings/
*/.svn/
*/.classpath
*/.project

#bower,node生成的目录
frontkit-frontkit/bower_components/
frontkit-frontkit/node_modules/
